// Importer Bootstrap avec un espace de noms
@use "bootstrap/scss/bootstrap" as bs;

// Importer les abstracts
@import 'abstracts/variables';
@import 'abstracts/fonts';

// Importer les styles globaux
@import 'global';

// Importer les styles des composants
@import 'components/card';
@import 'components/footer';
@import 'components/header';

// Importer les styles des pages
@import 'pages/entreprise-detail';
@import 'pages/entreprises-list';
@import 'pages/home';
@import 'pages/not-found';
@import 'pages/search-results';
@import 'pages/under-construction';

// Styles globaux supplémentaires
.btn-primary {
  background-color: $button-bg-color;
  border-color: $button-bg-color;
  color: $button-text-color;
  border-width: 0;
  box-shadow: none;
  border-radius: 50px;
  padding: 10px 20px;

  &:hover {
    background-color: darken($button-bg-color, 10%);
    border-color: darken($button-bg-color, 10%);
  }
}

.logo {
  height: 6em;
  padding: 1.5em;
  transition: filter 300ms;
  &:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  &.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }
}

.read-the-docs {
  color: $text-color;
}

.decorative-line {
  position: relative;
  display: inline-block;

  &::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 40px;
    height: 4px;
    background-color: $accent-red;
  }
}

.decorative-line-green {
  position: relative;
  display: inline-block;

  &::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 40px;
    height: 4px;
    background-color: $accent-green;
  }
}