// Couleurs comme variables Sass
$background-color: #ffffff;
$light-text-color: #f1f8fc;
$footer-bg-color: #0074c7;
$button-bg-color: #0074c7;
$title-color: #00497c;
$text-color: #384050;
$accent-red: #cd2c2e;
$accent-green: #82b864;
$input-bg-color: #f1f8fc;

// Personnaliser Bootstrap
$primary: $button-bg-color;