// Card
.card {
  // Style du titre de la carte
  .card-title {
    color: $title-color;
    font-size: 1.1rem;
    font-weight: 700;
  }

  // Style des étoiles
  .stars {
    font-size: 1.25rem;
    color: #f5c518;
    display: flex;
    align-items: center;
    margin-right: 5px;
    
    .star {
      margin-right: 2px;
    }
  }

  // Effet de survol sur la carte
  &:hover {
    background-color: $input-bg-color; 
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    transform: scale(1.05);
  }
}
