footer {
    background-color: $footer-bg-color;
    color: $footer-text-color;
    padding: 1rem;
    width: 100%;
    margin: 0;
  
    .logo-container {
      a {
        text-decoration: none;
        color: $footer-text-color;
      }
  
      .logo-text {
        font-size: 1.2rem;
        font-weight: 700;
      }
  
      .logo-subtext {
        font-size: 0.9rem;
      }
    }
  
    p {
      margin-bottom: 0.5rem;
    }
  
    hr {
      margin: 1rem 0;
    }
  
    .list-unstyled {
      gap: 0.5rem !important;
    }
  }
  
  @media (min-width: 768px) {
    footer {
      .logo-container {
        .logo-text {
          font-size: 1.5rem;
        }
  
        .logo-subtext {
          font-size: 1rem;
        }
      }
  
      .list-unstyled {
        gap: 1rem !important;
      }
    }
  }